#apresentacao{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(206, 255, 206);
    position:relative;
}

#foto-igor{
    border-radius: 50%;
    border: solid gray 2px
}

.hard{
    font-size: 20px;
}

.soft {
    font-size: 16px;
}