@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
  background-color: rgb(32, 28, 28);
  color: white;
  font-family: 'Comfortaa', cursive;
}

#cabecalho {
  top: 0;
  position: fixed;
  background-color: rgb(48, 44, 44);
  color: white;
  width: 100%;
  margin-left: -10px;
  height: 120px;
}

#cabecalho h1 {
  display: block;
  margin-left: 200px;
  font-size: 50px;
  width: 20%;
}

.conteiner {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 30px;
  margin-right: 100px;
  font-size: 25px;
  margin-top: -70px;
}

.conteiner li {
  list-style: none;
}

.conteiner a:hover {
  color: rgb(81, 134, 64);
}

.conteiner a {
  color: white;
}

#presentation {
  margin-top: 150px;

}

#presentation img {
  width: 825px;
  float: left;
}


#presentation p {
  float: right;
  width: 50%;
  margin-right: 100px;
  margin-top: 50px;
  font-size: 25px;
  text-align: center;
  padding-top: 50px;
}

#presentantion p span {
  font-size: 65px;
}

#skills {
  clear: both;
  font-size: 25px;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.tecnologias h3 {
  text-align: center;
  margin-bottom: 100px;
}

.hard {
  margin-left: 10%;
}

.hard li {
  display: inline-block;
  list-style: none;
  width: 300px;
  height: 300px;
  text-align: center;
}

#git_logo {
  display: flex;
  margin-top: 30%;
  margin-left: 15%;
}

#html_logo {
  display: flex;
  margin-top: 15%;
  margin-left: 15%;
}

#css_logo {
  display: flex;
  margin-top: 12%;
  margin-left: 15%;
}

#js_logo {
  display: flex;
  margin-top: 15%;
  margin-left: 25%;
}

.tecnologias {
  margin-top: 50px;
  margin-bottom: 100px;
}

.softskills h3{
  margin-bottom: 0px;
  text-align: center;
}

.list_soft li{
  list-style: none;
  text-align: center;
}